WebViewServer/src/log4j.dtd

<!ELEMENT log4j:data EMPTY>
<!ATTLIST log4j:data
  name   CDATA	#REQUIRED
  value  CDATA	#REQUIRED
>

<!ELEMENT log4j:message (#PCDATA)>

<!ATTLIST log4j:event
    logger     CDATA #REQUIRED
    level      CDATA #REQUIRED
    thread     CDATA #REQUIRED
    timestamp  CDATA #IMPLIED
    time       CDATA #REQUIRED
>




